:root {
  --red: #dc1e1e;
  --grey: #274249;
  --hover-grey: #283e44;
  --active-grey: #38555e;
  --accent-grey: #bdc8cc;
  --light-grey: #eff3f5;
  --yellow: #ffec6e;
  --green: #32A287;
  --orange: #F2A359;
}