body, html {
  margin: 0;
  height: 100%;
}

input {
  background-color: var(--light-grey);
  color: var(--grey);
  padding: 11px 10px 9px;
  border: 0;
  &:focus:not(:focus-visible) { outline: none; }
}

$buttonbg: var(--grey);
$buttonbgalt: var(--yellow);
button {
  border: 0;
  position: relative;
  background-color: $buttonbg;
  color: white;
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 18px;
  margin: 1rem;
  transition: all 0.2s ease;
  border: solid 1px $buttonbg;
  &:hover {
    cursor: pointer;
    border: solid 1px var(--light-grey);
    opacity: 0.5;
  }
  &.alt {
    background-color: $buttonbgalt;
    color: var(--grey);
    border: solid 1px $buttonbgalt;
  }
}

#questionnaire {
  
}

#login {
  max-width: 1450px;
  margin-inline: auto;
  text-align: start;
  #validIds {
    display: flex;
    margin-inline: auto;
    text-align: center;
    left: 3rem;
    width: fit-content;
    background-color: #465e64;
    padding: 1rem;
    color: white;
    align-items: center;
    box-shadow: -10px 10px 0 rgba($color: #2c3a3d, $alpha: 0.5);
    ul {
      padding-right: 3rem;
      border-right: 2px solid white;
      list-style: none;
    }
    > div{
      margin-left: 3rem;
      input {
        width: 200px;
        height: 30px;
      }
      button {
        background-color: #d22c2a;
        border-radius: 0px;
        padding: 1rem;
        margin-top: 1rem;
        width: 160px;
        margin-inline: auto ;
        color: white;
        border: 0;
        font-weight: 800;
        box-shadow: 0 3px 0 rgba($color: #2c3a3d, $alpha: 0.6);
      }
    }
  }
  span {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    &.valid {
      background-color: #42b983;
    }
    &.invalid {
      background-color: #d22c2a;
      color: white;
    }
  }
}
