header {
  position: relative;
  // box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 3rem;
  z-index: 200;
  .header-container {
    text-align: start;
    max-width: 1550px;
    margin-inline: auto;
    padding: 2rem 1rem;
    img {
      width: 500px;
    }
  }
}