#inputs-controller {
  // * {color: var(--active-grey);}
  // background-color: var(--light-grey);
  // border-radius: 42px;
  h2 {
    padding: 2rem 1rem;
    // color: var(--light-grey);
    // background-color: var(--hover-grey);
    box-shadow: 0 5px 5px rgba($color: #000000, $alpha: 0.2);
    // border-radius: 38px 38px 0 0;
  }
  .inputs-wrapper {
    border-bottom: solid 3px var(--grey);
    padding: 1rem 1rem 1rem 1rem;
    h4 {
      margin-bottom: 1rem;
    }
    // input[type=range] {
    //   /*removes default webkit styles*/
    //   -webkit-appearance: none;
      
    //   /*fix for FF unable to apply focus style bug */
    //   border: 1px solid white;
      
    //   /*required for proper track sizing in FF*/
    //   width: 300px;
    // }

    // input[type=range]:focus {
    //     outline: none;
    // }
    // input[type=range]:focus::-webkit-slider-runnable-track {
    //     background: #ccc;
    // }
    
    // input[type=range]::-moz-range-track {
    //     width: 300px;
    //     height: 5px;
    //     background: #ddd;
    //     border: none;
    //     border-radius: 3px;
    // }
    // input[type=range]::-moz-range-thumb {
    //     border: none;
    //     height: 16px;
    //     width: 16px;
    //     border-radius: 50%;
    //     background: goldenrod;
    // }
    input[type=range] {
      -webkit-appearance: none;
      appearance: none;
      background: transparent;
      cursor: pointer;
      width: 25rem;
      padding: 0;
      &:hover {
        &::-webkit-slider-runnable-track {
          height: 1rem;
        } 
        &::-moz-range-track {
          height: 1rem;
        }
        &::-webkit-slider-runnable-track {
          background: var(--hover-green);
        }
        &::-moz-range-track {
          background: var(--hover-green);
        }
        &::-webkit-slider-thumb {
          background: var(--accent-grey);
          transform: scale(1.2) translateY(-0.25rem);
        } 
        &::-moz-range-thumb {
          background: var(--accent-grey);
          transform: scale(1.2);
        }
      }
      &::-webkit-slider-runnable-track {
        background: var(--active-grey);
        height: 1.5rem;
        width: 25rem;
        border-radius: 100px;
        transition: all 300ms ease;
      } 
      &::-moz-range-track {
        background: var(--active-grey);
        height: 1.5rem;
        width: 25rem;
        border-radius: 100px;
        transition: all 300ms ease;
      }
      &::-webkit-slider-thumb {
        -webkit-appearance: none; 
        appearance: none;
        margin-top: 0; 
        background: var(--green);
        height: 24px;
        width: 24px;
        border-radius: 24px;
        border: solid 3px var(--active-grey);
        cursor: pointer;
        transition: all 150ms ease-in;
        // box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.4);
      }
      &::-moz-range-thumb {
        background: var(--green);
        height: 24px;
        width: 24px;
        border-radius: 24px;
        border: solid 3px var(--active-grey);
        cursor: pointer;
        transition: all 150ms ease-in;
        // box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.4);
      }
      // &::-webkit-slider-runnable-track {
      //   background: var(--active-grey);
      //   height: 1.5rem;
      //   width: 25rem;
      //   border-radius: 100px;
      //   transition: all 300ms ease;
      // }
      // &::-webkit-slider-thumb {
      //   -webkit-appearance: none; 
      //   appearance: none;
      //   margin-top: 0px; 
      //   background: var(--green);
      //   height: 24px;
      //   width: 24px;
      //   border-radius: 24px;
      //   border: solid 3px var(--active-grey);
      //   cursor: pointer;
      //   transition: all 150ms ease-in;
      // }
      // &:hover {
      //   &::-webkit-slider-runnable-track {
      //     height: 1rem;
      //   }
      //   &::-webkit-slider-runnable-track {
      //     background: var(--hover-green);
      //   }
      //   &::-webkit-slider-thumb {
      //     background: var(--accent-grey);
      //     transform: scale(1.2);
      //     transform: translateY(-0.25rem);
      //   }
      // }
    }
    .number {
      display: flex;
      input[type=number] {
        // background-color: var(--active-grey);
        // color: var(--light-grey);
        // border-bottom: solid 4px var(--active-grey);
        width: 90px;
        // height: 50px;
        font-size: 1.4rem;
        font-weight: 900;
        text-align: center;
        -moz-appearance: textfield;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
      .chevrons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        // background-color: var(--grey);
        // border-left: solid 4px var(--active-grey);
        position: relative;
        // &::after {
        //   content: "";
        //   display: block;
        //   position: absolute;
        //   top: 50%;
        //   left: 0;
        //   width: 100%;
        //   height: 1px;
        //   background-color: var(--active-grey);
        // }
        i {
          width: 100%;
          padding: 0 0.5rem;
          font-size: 1rem;
          transition: all 300ms ease;
          &:hover {
            cursor: pointer;
            color: var(--hover-green);
            transform: scale(1.1);
          }
          &:active {
            transform: scale(0.95);
          }
        }
      }
    }

  }
}